extends ../main
block title
    | game
    
block content
    main.content
        .container.container_bg
            include ../_common/_scoreboard
            include ../_common/_playing-field
            