.modal-container
    .modal
        .modal__block
            .modal__text
                | Введите имя игрока
            .modal__close Х
            input.modal__name-player.modal__name-player_1.modal__name_active(type="text" value="" placeholder="Имя первого игрока")
            input.modal__name-player.modal__name-player_2(type="text" value="" placeholder="Имя второго игрока")
            .modal__save Готово
    