.scoreboard
    +player('player-1')
    +player('player-2')
    
mixin player(classPlayer)
    .scoreboard__player-container
        .scoreboard__player-name(class="scoreboard__player-name_" + classPlayer)