.scoreboard, .game__list {
  letter-spacing: -0.3em;
}

.scoreboard__player-container, .scoreboard__score-container, .scoreboard__score, .delimiter, .game__item {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
}

.modal__save {
  text-align: center;
}

.container:before, .container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

input {
  outline: none;
  border: none;
}

html, body {
  height: 100%;
}

.wrapper {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  position: relative;
  background: #F3F3F3;
}

.content {
  display: table-row;
  height: 100%;
  overflow: hidden;
}

.container {
  padding: 0 20px;
  max-width: 1210px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.container_bg {
  background: #fff;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  max-width: 700px;
  width: 30%;
}

.modal__block {
  box-sizing: border-box;
  width: 100%;
  padding: 30px 4%;
  margin: 0 auto;
  background: #fff;
  position: relative;
}

.modal__text {
  color: #666;
  font: 16px "robotoregular";
  margin: 0 0 20px;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 3px 5px;
  cursor: pointer;
  border: 1px solid #666;
}

.modal__name-player {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 5%;
  border: 1px solid #666;
  display: none;
  margin: 0 0 20px;
}

.modal__name-player_1 {
  color: #F16536;
}

.modal__name-player_2 {
  color: #7EA94C;
}

.modal__name_active {
  display: block;
}

.modal__save {
  width: 60px;
  font: 16px "robotoregular";
  color: #666;
  border: 1px solid #666;
  cursor: pointer;
}

.header {
  background: #fff;
  margin: 0 0 20px;
}

.logo {
  display: block;
  padding: 10px;
  color: #fff;
}

.footer {
  height: 30px;
  background: #212326;
}

.scoreboard {
  width: 50%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

.scoreboard__player-container {
  text-align: center;
  width: 15%;
  margin: 0 0 0 3%;
}
.scoreboard__player-container:first-child {
  margin: 0;
}

.scoreboard__player-name {
  padding: 5px;
  font: 18px "robotoregular";
}

.scoreboard__player_active {
  box-shadow: 0 0 0 2px #666;
}

.scoreboard__player-name_player-1 {
  color: #F16536;
}

.scoreboard__player-name_player-2 {
  color: #7EA94C;
}

.scoreboard__score-container {
  margin: 0 0 0 3%;
}

.scoreboard__score {
  padding: 5px;
  font: 18px "robotoregular";
}

.delimiter {
  padding: 5px;
  font: 18px "robotoregular";
}

.game-container {
  width: 49.5%;
  margin: 0 auto 50px auto;
  overflow: hidden;
}

.game__list {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #49525F;
  margin: -1px 0 0 -1px;
}

.game__item {
  box-sizing: border-box;
  width: 6.66%;
  padding: 6.6% 0 0 0;
  border-left: 1px solid #49525F;
  border-top: 1px solid #49525F;
  cursor: pointer;
  position: relative;
}

.game__dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40%;
  border-radius: 50%;
}

.game__dot_player-1 {
  background: #F16536;
}

.game__dot_player-2 {
  background: #7EA94C;
}

.result__text {
  text-align: center;
  margin: 0 0 20px;
  padding: 0 0 10px;
  font: 20px "robotoregular";
  color: #49525f;
  border-bottom: 1px solid #49525F;
}

.result__player {
  margin: 0 0 0 5px;
}

.new-game {
  width: 90px;
  margin: 0 auto;
  text-align: center;
  padding: 5px 10px;
  color: #49525f;
  border: 2px solid #49525F;
  cursor: pointer;
}

.new-game:hover {
  color: #fff;
  background: #49525f;
}
